<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Id="ProductPackage"
    Name="HintOverlay"
    Language="1033"
    Version="!(bind.FileVersion.HintOverlayExe)"
    Manufacturer="Windows-Hinting"
    UpgradeCode="b2c3d4e5-f6a7-8901-bcde-f1234567890a">

    <Media Id="1" Cabinet="HintOverlay.cab" EmbedCab="yes" />

    <!-- Upgrade strategy -->
    <MajorUpgrade
      DowngradeErrorMessage="A newer version of [ProductName] is already installed."
      AllowSameVersionUpgrades="yes"
      Schedule="afterInstallInitialize" />

    <!-- Main Product Feature -->
    <Feature Id="ProductFeature" Title="HintOverlay" Level="1">
      <ComponentGroupRef Id="MainApplicationFiles" />
      <ComponentRef Id="DotNetRuntimeLibraries" />
      <ComponentRef Id="RuntimeRegistry" />
      <ComponentGroupRef Id="RuntimesWinFiles" />
      <ComponentGroupRef Id="RuntimesBrowserFiles" />
      <ComponentGroupRef Id="DesktopShortcuts" />
      <ComponentGroupRef Id="RegistryConfiguration" />
    </Feature>

    <!-- Directory structure definition in Folders.wxs -->

    <!-- License variable -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
  </Package>
</Wix>
